In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cardio_df = pd.read_csv(Path('../Data_Files/cardio_cleaned.csv'))
BMI_df = pd.read_csv(Path('../Data_Files/BMI.csv'))

In [4]:
# Merge the two DataFrames on id.
cardio_complete_df = pd.merge(cardio_df, BMI_df, on="id")

In [5]:
cardio_complete_df.sample(10)

,id,Age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,BMI,weight_status,obesity_status
38527,21912,51,2,165.0,74.0,140.0,90.0,1,1,0,0,1,1,27.2,overweight,no
10048,15107,60,1,152.0,62.0,120.0,80.0,1,1,0,0,1,0,26.8,overweight,no
45250,87669,43,1,168.0,65.0,120.0,80.0,1,1,0,0,1,0,23.0,normal,no
7222,20421,39,2,165.0,59.0,120.0,80.0,1,1,0,0,1,1,21.7,normal,no
35966,27745,51,2,165.0,64.0,120.0,80.0,1,1,0,0,0,1,23.5,normal,no
47554,49403,58,2,168.0,80.0,100.0,60.0,1,1,1,0,1,1,28.3,overweight,no
15799,26103,60,1,156.0,96.0,125.0,80.0,1,1,0,0,1,1,39.4,obese,yes
41835,55071,57,2,166.0,87.0,140.0,80.0,1,3,0,0,1,0,31.6,obese,yes
37679,43518,55,1,165.0,69.0,120.0,80.0,3,3,0,0,0,1,25.3,overweight,no
29472,94859,59,1,162.0,89.0,120.0,80.0,1,1,0,0,1,0,33.9,obese,yes

In [7]:
# Re-aarange columns in the merged DataFrame
rearranged_columns = ["id", "Age", "gender", "height", "weight", "BMI", "weight_status", "obesity_status", 
                       "systolic_bp", "diastolic_bp", "cholesterol", "glucose", "smoker", "alcohol_intake", 
                       "active", "cardio_disease"]
cardio_complete_df = cardio_complete_df[rearranged_columns]
cardio_complete_df.head()

,id,Age,gender,height,weight,BMI,weight_status,obesity_status,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease
0,86650,51,1,171.0,29.0,9.9,underweight,no,110.0,70.0,2,1,0,0,1,1
1,26503,49,1,160.0,30.0,11.7,underweight,no,120.0,80.0,1,1,0,0,1,1
2,59853,58,1,143.0,30.0,14.7,underweight,no,103.0,61.0,2,1,0,0,1,0
3,24167,47,2,170.0,31.0,10.7,underweight,no,150.0,90.0,2,2,0,0,1,1
4,31439,42,1,146.0,32.0,15.0,underweight,no,100.0,70.0,1,1,0,0,0,0

In [14]:
# Change the continuous variables weight_status, and obesity_status from string to numeric.
# Defining a function string_to_numeric.
def string_to_numeric(variable):
    if variable == "underweight":
        return 1
    elif variable == "normal":
        return 2
    elif variable == "overweight":
        return 3
    else:
        return 4

In [15]:
# Call the function string_to_numeric on column weight_status 
cardio_complete_df["weight_status"] = cardio_complete_df["weight_status"].apply(string_to_numeric)

# Change the obesity_status to numeric
cardio_complete_df["obesity_status"] = cardio_complete_df["obesity_status"].apply(lambda x: 1 if x == "yes" else 0)

In [17]:
cardio_complete_df.sample(10)

,id,Age,gender,height,weight,BMI,weight_status,obesity_status,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease
44357,8301,59,1,167.0,97.0,34.8,4,1,130.0,90.0,1,1,0,0,1,0
47398,97829,41,1,168.0,78.0,27.6,3,0,130.0,70.0,1,1,0,0,1,0
15644,55261,56,1,156.0,88.0,36.2,4,1,130.0,80.0,3,1,0,0,1,1
18387,55091,57,1,158.0,69.0,27.6,3,0,130.0,80.0,1,1,0,0,1,0
26252,35555,49,1,161.0,72.0,27.8,3,0,130.0,90.0,1,1,0,0,1,1
30319,31340,39,1,163.0,65.0,24.5,2,0,100.0,70.0,1,1,0,0,1,0
12898,75031,59,1,155.0,65.0,27.1,3,0,110.0,80.0,3,1,0,0,1,1
54897,14466,56,2,170.0,88.0,30.4,4,1,130.0,80.0,1,1,0,0,1,0
46190,64331,58,1,168.0,70.0,24.8,2,0,130.0,80.0,1,1,0,0,1,1
46457,14474,45,1,168.0,72.0,25.5,3,0,120.0,80.0,1,1,0,0,1,0

In [18]:
df = cardio_complete_df.drop(["id"], axis=1)

In [19]:
y = df["cardio_disease"]
X = df.drop(columns="cardio_disease")

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

In [22]:
classifier.fit(X_train, y_train)

C:\Users\subha\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=200, random_state=1)

In [23]:
y_pred = classifier.predict(X_test)

In [27]:
prediction_df = pd.DataFrame({"Prediction": y_pred, "Actual":y_test})

In [28]:
prediction_df.head(20)

       Prediction  Actual
63457           0       0
1849            0       0
3136            0       0
44350           0       0
38367           0       0
60083           0       0
40040           0       0
27238           1       1
12882           1       1
38785           0       0
63059           0       0
808             0       1
10669           1       1
17369           0       0
47494           1       0
17196           1       1
55071           0       0
67613           0       0
52792           0       1
52361           0       0

In [29]:
# Access performance of the model
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7255636896046852

In [30]:
# Obtain the confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[6783 1869]
 [2817 5606]]

In [31]:
# Obtain the classification report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.71      0.78      0.74      8652
           1       0.75      0.67      0.71      8423

    accuracy                           0.73     17075
   macro avg       0.73      0.72      0.72     17075
weighted avg       0.73      0.73      0.72     17075