In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import db_password
from sqlalchemy import inspect

In [16]:
from sqlalchemy import create_engine
#db_string = f"postgresql://postgresRDS:{db_password}@be-heart-smart.cy6j2bmyzt6p.us-east-2.rds.amazonaws.com:5432/be-heart-smart"
#engine = create_engine(db_string)
#con = engine.connect()

In [17]:
#cardio_df = pd.read_sql("Select * From final_cardio_combined", con)

In [18]:
cardio_df=pd.read_csv("final_cardio_combined.csv")

In [19]:
cardio_df.head()

,tbl_id,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,26503,49,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,54851,59,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,21040,62,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,47872,57,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,23318,59,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [20]:
cardio_df= cardio_df.drop(columns="tbl_id", axis=1)

In [21]:
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,49,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,59,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,62,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,57,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,59,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [22]:
cardio_df = cardio_df.astype({"age":float, "height":float, "weight":float, "bmi":float, "systolic_bp":float, "diastolic_bp":float, "gender":int, "cholesterol":int, "glucose":int, "smoker":int, "alcohol_intake":int, "active":int,"weight_status":str,"obesity_status":str, "cardio_disease":int})
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,49.0,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,59.0,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,62.0,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,57.0,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,59.0,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [23]:
# One-hot encode the data using pd.get_dummies
cardio_df = pd.get_dummies(cardio_df, columns =["gender", "cholesterol","glucose","weight_status", "obesity_status"])
cardio_df.head()

,age,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cardio_disease,bmi,...,cholesterol_3,glucose_1,glucose_2,glucose_3,weight_status_normal,weight_status_obese,weight_status_overweight,weight_status_underweight,obesity_status_no,obesity_status_yes
0,49.0,160.0,30.0,120.0,80.0,0,0,1,1,11.7,...,0,1,0,0,0,0,0,1,1,0
1,59.0,154.0,32.0,110.0,60.0,0,0,1,0,13.5,...,0,1,0,0,0,0,0,1,1,0
2,62.0,143.0,34.0,100.0,70.0,0,0,1,0,16.6,...,0,1,0,0,0,0,0,1,1,0
3,57.0,153.0,34.0,110.0,70.0,0,0,1,1,14.5,...,1,0,0,1,0,0,0,1,1,0
4,59.0,165.0,35.0,100.0,70.0,0,0,1,0,12.9,...,0,1,0,0,0,0,0,1,1,0

In [24]:
cardio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68571 entries, 0 to 68570
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        68571 non-null  float64
 1   height                     68571 non-null  float64
 2   weight                     68571 non-null  float64
 3   systolic_bp                68571 non-null  float64
 4   diastolic_bp               68571 non-null  float64
 5   smoker                     68571 non-null  int64
 6   alcohol_intake             68571 non-null  int64
 7   active                     68571 non-null  int64
 8   cardio_disease             68571 non-null  int64
 9   bmi                        68571 non-null  float64
 10  gender_1                   68571 non-null  uint8
 11  gender_2                   68571 non-null  uint8
 12  cholesterol_1              68571 non-null  uint8
 13  cholesterol_2              68571 non-null  uint8
 14  cholesterol_3              68571 non-null  uint8
 15  glucose_1                  68571 non-null  uint8
 16  glucose_2                  68571 non-null  uint8
 17  glucose_3                  68571 non-null  uint8
 18  weight_status_normal       68571 non-null  uint8
 19  weight_status_obese        68571 non-null  uint8
 20  weight_status_overweight   68571 non-null  uint8
 21  weight_status_underweight  68571 non-null  uint8
 22  obesity_status_no          68571 non-null  uint8
 23  obesity_status_yes         68571 non-null  uint8
dtypes: float64(6), int64(4), uint8(14)
memory usage: 6.1 MB

In [25]:
column_names = ["age","gender_1","gender_2","height","weight","systolic_bp","diastolic_bp",
                "smoker","alcohol_intake","active","cholesterol_1","cholesterol_2",
                "cholesterol_3","glucose_1","glucose_2","glucose_3", "weight_status_underweight","weight_status_normal", "weight_status_overweight", "weight_status_obese",
                "obesity_status_yes", "obesity_status_no","cardio_disease"]
cardio_df= cardio_df.reindex(columns=column_names)
cardio_df.head()

,age,gender_1,gender_2,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,...,glucose_1,glucose_2,glucose_3,weight_status_underweight,weight_status_normal,weight_status_overweight,weight_status_obese,obesity_status_yes,obesity_status_no,cardio_disease
0,49.0,1,0,160.0,30.0,120.0,80.0,0,0,1,...,1,0,0,1,0,0,0,0,1,1
1,59.0,1,0,154.0,32.0,110.0,60.0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
2,62.0,1,0,143.0,34.0,100.0,70.0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
3,57.0,1,0,153.0,34.0,110.0,70.0,0,0,1,...,0,0,1,1,0,0,0,0,1,1
4,59.0,1,0,165.0,35.0,100.0,70.0,0,0,1,...,1,0,0,1,0,0,0,0,1,0

In [26]:
cardio_df.rename(columns = {"gender_1":"female", "gender_2":"male","cholesterol_1":"cholesterol_normal", 
                            "cholesterol_2":"cholesterol_moderate", "cholesterol_3":"cholesterol_high", 
                            "glucose_1":"glucose_normal","glucose_2":"glucose_moderate","glucose_3":"glucose_high", "cardio_disease":"cardio_disease"}, inplace=True)

In [27]:
cardio_df = cardio_df.drop(["weight_status_underweight", "weight_status_normal", "weight_status_overweight", "weight_status_obese", "weight", "height"], axis=1)

In [28]:
cardio_df.head()

,age,female,male,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cholesterol_normal,cholesterol_moderate,cholesterol_high,glucose_normal,glucose_moderate,glucose_high,obesity_status_yes,obesity_status_no,cardio_disease
0,49.0,1,0,120.0,80.0,0,0,1,1,0,0,1,0,0,0,1,1
1,59.0,1,0,110.0,60.0,0,0,1,1,0,0,1,0,0,0,1,0
2,62.0,1,0,100.0,70.0,0,0,1,1,0,0,1,0,0,0,1,0
3,57.0,1,0,110.0,70.0,0,0,1,0,0,1,0,0,1,0,1,1
4,59.0,1,0,100.0,70.0,0,0,1,1,0,0,1,0,0,0,1,0

In [29]:
cardio_df.shape

(68571, 17)

In [30]:
# Import scikit-learn libraries for machine learning
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score, validation_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [31]:
# Seperate our target(output) and features (input)

#Target variable
y = cardio_df["cardio_disease"]

#Feature variables
X = cardio_df.drop(columns="cardio_disease", axis=1)

In [32]:
from collections import Counter
Counter(y)

Counter({1: 33903, 0: 34668})

In [34]:
# Create a random forest classifier model with only specifying random state.
rf_model = RandomForestClassifier(random_state=42, max_depth= 8, n_estimators=800, min_samples_leaf=2, min_samples_split=10)

In [35]:
# Cross-validate the model using k-fold coross-validation, where k=10. 
rf_model_cv_score= cross_val_score(rf_model, X, y, cv = 10, scoring = 'roc_auc')

In [36]:
# Print the ROC-AUC scores.
print(rf_model_cv_score)

[0.83315878 0.78739758 0.79241226 0.79347969 0.79689781 0.82732
 0.78515672 0.79515937 0.78821948 0.78707212]

In [37]:
# Get the mean ROC-AUC score for the 10 folds.
print(rf_model_cv_score.mean())

0.7986273815823173

In [39]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X)

# Scaling data
X_scaled = X_scaler.transform(X)

In [40]:
# Create a random forest classifier model with only specifying random state.
rf_model = RandomForestClassifier(random_state=42, max_depth= 8, n_estimators=800, min_samples_leaf=2, min_samples_split=10)

In [42]:
#Cross-validate the model using k-fold coross-validation, where k=10. 
rf_model_cv_score= cross_val_score(rf_model, X_scaled, y, cv = 10, scoring = 'roc_auc')

In [45]:
# Print the ROC-AUC scores.
print(rf_model_cv_score)

[0.83315351 0.78738431 0.79242536 0.79347553 0.79688504 0.82731847
 0.78514038 0.7951678  0.7882171  0.7870894 ]

In [46]:
# Get the mean ROC-AUC score for the 10 folds.
print(rf_model_cv_score.mean())

0.798625688572001